body {
  padding-top: 54px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  bottom: 0;
}

#body {
  min-height: 279px;
}

a:hover,
a {
  text-decoration: none;
}

#postTitle a {
  color: #114e66;
}

#postTitle a:hover {
  color: #2082a8;
}

#navbarResponsive a:hover {
  color: #f0f8ff;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

