body {
  padding-top: 54px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  bottom: 0;
}

#postBody {
  padding: 10px;
  white-space: pre-line;
  word-break: break-all;
}

a:hover,
a {
  word-break: break-all;
  text-decoration: none;
}

#postTitle a {
  color: #114e66;
}

#postTitle a:hover {
  color: #2082a8;
}

.navbar-brand {
  font-family: 'Bootcamp', 'Times New Roman', Times, serif;
  font-size: 36px;
  font-weight: bold;
  color: #9af3ec !important;
  letter-spacing: 5px;
  margin: 0 0 !important;
  padding: 0 0 !important;
}

#navbarResponsive a:hover {
  color: #9af3ec;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

#commentSection {
  background: #8c939927;
  padding: 10px 15px;
}

.singleComment {
  background: #ffffff93;
  padding: 10px 15px;
}

.commenter {
  margin: 0 0 !important;
  padding: 0 0;
}

#signup_form {
  min-height: 468px;
  width: 100%;
  padding: 50px 30% !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.flash {
  position: fixed;
  z-index: 10;
  left: 72%;
  top: 87%;
}

.posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  background: #a9aaac1e;
  float: left;
  border: 1px solid #8c939927;
  border-radius: 10px;
  max-width: 300px;
  padding: 10px;
  margin: 10px 15px;
}

