body {
    padding-top: 54px;
}

footer {
    display: flex;
    position: relative;
    width: 100%;
    bottom: 0;
}

#body {
    min-height: 279px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}